.App {
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-wrapper {
  width: 100%;
  display: flex;
}

.my-message-wrapper {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.message {
  border: 4px solid slategray;
  border-radius: 10px;
  width: auto;
  max-width: 200px;
  padding: 10px;
}