.App {
  background-color: lightblue;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.message-wrapper {
  width: 100%;
  align-items: flex-end;
  display: flex;
  margin: 10px;
}

.my-message-wrapper {
  width: 100%;
  align-items: flex-end;
  flex-direction: row-reverse;
  display: flex;
  margin: 10px;
}

.message {
  /* border: 4px solid slategray; */
  background-color: white;
  border-radius: 10px;
  width: auto;
  max-width: 200px;
  padding: 10px;
}

.my-message-wrapper > .message {
  background-color: lawngreen;
}

.time {
  font-size: 0.8rem;
  margin: 0 5px -5px;
}

.input-bar {
  background-color: white;
  display: flex;
  padding: 12px;
  flex-direction: row;
  justify-content: flex-end;
}

.input-wrapper {
  border-radius: 20px;
  background-color: #efefef;
  box-sizing: content-box;
  padding: 8px;
  width: 20%;
  min-width: 200px; 
}

.input-wrapper > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: inherit;
  width: 100%;
  padding: 0;
}

div.material-icons {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: 8px;
}

div.material-icons:hover {
  color: royalblue;
}
div.material-icons:active {
  color: navy;
}
